@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome: Jesús Matos </h1><h3>AZ204</h3>
    <h5>With GitHub Action | TEST </h5>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Updated on 13-01-2026</p>
</div>
